*{
    box-sizing: border-box;
}
:root{
    --color1:#d89584;
    --color2:#f4f4f4;
}
body{
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}
iframe{
    width: 100%;
    border: none;
    height: 350px;
}
div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}
img.profil_cover{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}
h1{
    font-size: 42px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
div.cover p{
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}
div.cover_contact {
    /*background-color: #ff770080;*/
    position: absolute;
    top: 16px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}
div.cover_contact a{
    color: white;
    font-size: 14px;
}
div.cover_contact p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
div.cover_contact p:first-child{
    margin-bottom: 15px;
}
a.button_contact{
    color: var(--color1);
    border: 3px solid var(--color1);
    background-color: #00000040;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}
a.button_contact:hover{
    color: white;
    border: 3px solid white;
}
.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
div.section_grise1{
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px;
}
div.section_grise2{
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 90px;
}
h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}
div.separateur{
    background-color: #979797;
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}
div.section_grise1 p{
    color: #656565;
    font-size: 22px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
img.col-contenu{
    width: 40%;
}
div.col-contenu{
    width: 60%;
    padding-left: 18px;
}
.float_right{
    float: right;
}
div.texte_ligne-vertical{
    border-left: 4px var(--color1) solid;
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
div.texte_ligne-vertical p{
    margin-top: 0;
}
div.barre_vertical{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px
}
.col_portfolio{
    width: 48%;
}
div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
div.frame img{
    width: 100px;
}
p.frame-title{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

/*Portfolio*/

div.portfolio_header{
    height: 90px;
    background: url(header.jpg) no-repeat center top/cover;
    position: relative;
}
.cover_portfolio {
    font-size: 26px;
    color: white;
    margin-left: 10px;
    display: inline-block;
}
div.portfolio_header a{
    position: absolute;
    right: 10px;
    top: 5px;
}
h1.portfolio {
    color: black;
    font-size: 46px;
    line-height: 1;
    margin-top: 10px;
}
h2.portfolio {
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0;
  
}
a.portfolio_retour{
    color: var(--color1);
    margin-left: -10px;
}
.pizza_portfolio{
    width: 70%;
    max-width: 475px;
}
.display-mobile{
    display: none;
}

 /* Responsive design For mobile phones */

@media only screen and (max-width: 767px) {

img.profil_cover{
    height: 90px;
    margin-top: 75px;
}
h1{
    font-size: 38px;
    margin-top: 6px;
}
div.cover p{
    margin-top: 2px;
    font-size: 13px;
}
.section{
    padding-left: 20px;
    padding-right: 20px;
}
div.section_grise1{
    padding-bottom: 40px;
    overflow-x: hidden;
}
div.section_grise1 p{
    width: 100%;
    font-size: 20px;
}
h2{
    font-size: 28px;
}
img.col-contenu{
    width: 100%;
}
div.col-contenu{
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
}
.col_portfolio{
    width: 100%;   
}
table.float_right{
    padding-top: 45px;   
}
div.frame{
    margin: 0;
    padding: 0;
    box-shadow: none;

}
p.frame-title{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
div.frame img{
    width: 70px;
}
/*portfolio mobile*/
.cover_portfolio {
    font-size: 19px;
    padding-top: 8px;
    padding-left: 4px;
}
a.button_contact{
    padding: 7px 12px;
    margin-top: 20px;
    font-size: 10px;
}
h1.portfolio {
    font-size: 38px;
}
h2.portfolio {
    font-size: 20px;
    margin-bottom: 0; 
}
.pizza_portfolio{
    width: 100%;
}
.display-mobile{
    display: block;
}

}